@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-black;
	}
}

@font-face {
	font-family: 'Lovelo';
	font-weight: bold;
	src: url('/fonts/lovelo/Lovelo-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'Lovelo';
	font-weight: normal;
	src: url('/fonts/lovelo/Lovelo-LineBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Lovelo';
	font-weight: light;
	src: url('/fonts/lovelo/Lovelo-LineLight.woff2') format('woff2');
}
